lib
_ReSharper*
WebUI.6.1.ReSharper
*.DotSettings
*.sln.docstates
bin
Bin
obj
*.suo
*.ncb
*.vsp
*.user
*.sln.cache
build
*.orig
log*.txt
debugLog*.txt*
infoLog*.txt*
errorLog*.txt*
*.swp
\#*#
*.build.*
*.password
App_Data

